<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">
<gap:splash src="images/splash.png" gap:platform="winphone" />
<icon src="images/62.png" gap:platform="winphone" />
<icon src="images/173.png" gap:platform="winphone" gap:role="background" />

	<name>Fitness PRO!</name>

	<description>
		A fitness application to keep you healthy - now, and forever.
	</description>

	<author href="http://www.neoempires.com"
		email="gkthegr8@gmail.com.com">
		Gautam Krishnan
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
