body { font-family:Arial, Helvetica, sans-serif; font-size:medium; color:#232020; background:#ffffff; padding:0; margin:0;}
	a img,:link img,:visited img,fieldset {border:none;}
form,table,p,h1,h2,h3,h4,h5,h6,ul,li,div,dl {
		margin:0;
		padding:0;
		font-size:100%;
		font-weight:normal;
}

li{list-style-type:none;}

a:hover {
text-decoration:underline;
}

img {
vertical-align:top;
}

a {
   outline: 0;
}


/*-----------------------------CLEAR FIX-----------------------------*/

.clearfix:after {
 content: " "; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
.clearfix {display: block;}
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.clsfloatleft{float:left;}
.clsfloatright{float:right;}

.main{margin:auto; padding:0;}
.main{margin:0; text-shadow:0 0 0 #002663;}

#header{margin:0 0 10px 0; padding:0; background:url(images/header_bg.jpg) repeat-x scroll 0 0; height:79px;}
#title{padding:15px 0 0 15px; margin:0; clear:both; width:195px; float:left;}

#menu_button{padding:15px 15px 0 0; margin:0; float:right;}

.content{margin:0 auto; padding:0;}

#banner{ margin:10px; height:100px; text-align:left; background:url(images/banner_mid.jpg) repeat-x scroll 0 0;}
#banner_rt{background:url(images/banner_rt.jpg) no-repeat scroll right 0; height:164px;}
#banner_lt{background:url(images/banner_lt.jpg) no-repeat scroll left 0; height:164px;}

.mid_content{padding:0 0 10px 0;}
.mid_content h2{font-size:14px; color:#000000; padding:0 10px 10px 10px; font-weight:bold;}
.mid_content p{padding:0 10px 0 10px; font-size:12px; color:#757474;}
.mid_content h3{color:#000000; font-size:14px; padding:10px 10px 5px 10px;}
.mid_content ul{padding:0 10px 10px 10px; }
.mid_content ul li{background:url(images/bullet.png) no-repeat scroll 0 7px; padding:5px 0 5px 12px; color:#757474; font-size:12px;}

.con_bot h4{background:#8f0000; height:20px; color:#ffffff; padding:5px 0 0 10px; font-size:12px; font-weight:bold;}
.con_bot ul{padding:5px 10px 0 10px;}
.con_bot ul li{background:none; padding:5px 0;padding-left:12px; color:#757474; font-size:12px;} 
.con_bot ul li span{ display:inline-block; font-weight:bold;}
.reg_but{background:url(images/register_now_but.png) no-repeat scroll 0 0; display:block; text-indent:-3000px; width:137px; height:23px; margin:5px 0 0 10px; cursor:pointer;}

#footer{background:#3f3e3e; text-align:center; height:50px;}
#footer p{color:#cecece; font-size:12px; padding:15px 0 0 0;}

/******************** Menu ******************/

#menu_con{ margin:0; padding:0 10px 10px 10px;}
#menu_con ul{padding:1px 0 10px 0;}
#menu_con ul li{  padding:0; cursor:pointer; margin:10px 0  0;}
#menu_con ul li a{font-size:18px; color:#000000; text-decoration:none; vertical-align:middle; display:block; padding:0 0 0 20px; height:35px; font-weight:normal; }

.menu{background:url(images/menu_mid.jpg) repeat-x scroll center top; height:47px;}
.menu_rt{background:url(images/menu_rt.jpg) no-repeat scroll right top; height:47px;}
.menu_lt{background:url(images/menu_lt.jpg) no-repeat scroll left top; height:35px; padding:12px 0 0 0; font-size:24px; vertical-align:middle;}


/********************* Group ********************/

#group .mid_content p{padding:0 10px 10px 10px; font-size:12px; color:#757474;}

.mid_content ul.group_pic{display:inline-block; margin:0 10px 10px 10px; padding:8px 5px 8px 0; background:#dfdfdf; border:1px solid #838282;}
.mid_content ul.group_pic li{ background:none; margin:5px 0 5px 5px; padding:0; color:#757474; font-size:12px; float:left; border:1px solid #838282;}

/********************* Classes *********************/

.mid_content ul.schedule{margin:0 10px 10px 10px; width:94%; border:1px solid #9b0101; padding:0;}
.mid_content ul.schedule li.schedule_head{background-color:#b40000; background-image:none; width:100%; display:inline-block; padding:0; margin:0; color:#ffffff;}
.mid_content ul.schedule li{background:none; width:100%; display:inline-block; padding:0 0;}
.mid_content ul.schedule li.schedule_head p{width:33%; color:#ffffff; float:left; padding:5px 0 0 0; text-align:center;}
.mid_content ul.schedule li p{width:33%; color:#757474; float:left; padding:5px 0 5px 0; height:25px; text-align:center; border-right:1px solid #9b0101; line-height:16px; font-weight:bold;}

/******************** Personal Training *********************/

.mid_content ul.training{margin:0 10px 10px 10px; width:94%; border:1px solid #9b0101; padding:0;}
.mid_content ul.training li.training_head{background-color:#b40000; background-image:none; width:100%; display:inline-block; padding:0; margin:0; color:#ffffff;}
.mid_content ul.training li{background:none; width:100%; display:inline-block; padding:0 0;}
.mid_content ul.training li.training_head p{width:49%; color:#ffffff; float:left; padding:5px 0 0 0; text-align:center;}
.mid_content ul.training li p{width:49%; color:#757474; float:left; padding:5px 0 5px 0; height:25px; text-align:center; border-right:1px solid #9b0101; line-height:16px; font-weight:bold;}

/********************* Trainers **************************/

.trainers_profile{display:inline-block; padding:0; margin:0;}
.mid_content .trainers_profile ul{padding:0;}
.mid_content .trainers_profile ul li{ background:none; float:left; margin:5px; width:84px; text-align:center; height:150px; color:#f8992d; padding:0}  
.mid_content .trainers_profile ul li a img{border:1px solid #9d9d9d; margin:0 0 10px 0;}
.mid_content .trainers_profile ul li a.ui-link{color:#000000; text-decoration:none;}
.mid_content .trainers_profile ul li span{display:block; color:#757474;}

.mid_content .trainers_profile{text-align:left; padding:10px 10px 20px 10px;}
.mid_content .trainers_profile img{margin:0 10px 10px 0; border:1px solid #9d9d9d; float:left;}
.mid_content .trainers_profile p{display:block; font-weight:normal; color:#757474; padding:0 10px 0 0;}
.mid_content .trainers_profile p span{display:block; color:#757474; font-weight:bold; padding:0 0 10px 0;}

.profile_nav{display:inline-block; text-align:center; padding:0; width:100%;}
.pre{float:left; width:50%;}
.next{float:left; width:50%;}

/******************** contact *********************/

.mid_content .contact_con{padding:0 0 10px 10px;}
.mid_content .contact_con p{padding:0 0 10px 0; color:#757474;}
.mid_content .contact_con a{color:#757474; font-size:12px; text-decoration:none;}

